html {
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 85%;
  margin: 0;
  padding: 0;
  background-color: #ccc;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

header {
  background: #9e54ff;
  background-image: linear-gradient(#9e54ff, #7f4fff);
  height: 72px;
}

header a {
  color: #fff;
  text-decoration: none;
}

header p {
  margin: 0;
  height: 72px;
  display: table-cell;
  vertical-align: middle;
  color: #fff;
  font-size: 1.2em;
}

.header-instance {
  display: none;
}

#header-home {
  display: block;
}

#header-snapshot p {
  padding-left: 15px;
}

button {
  border: 0;
  background: none;
  cursor: pointer;
}

input,
button {
  outline: none;
}

input.selected,
button.selected {
  border: 2px solid #d3b3fd;
}

#input-colour-container {
  float: left;
  border: 0;
  padding: 0;
  margin: 24px 0 0 14px;
}

#input-colour {
  display: none;
}

#input-colour-substitute {
  background: #000;
  border: 1px solid #ccc;
  width: 35px;
  height: 25px;
}

#btn-back {
  float: left;
  margin: 19px 0 0 5px;
}

#btn-back img {
  width: 35px;
  height: 35px;
}

#btn-emoji {
  float: left;
  margin: 19px 0 0 20px;
  padding: 0;
}

#btn-emoji img {
  width: 35px;
  height: 35px;
}

#btn-trash {
  float: right;
  margin: 10px 0 0 0;
  padding: 14px;
}

#btn-trash img {
  width: 24px;
  height: 24px;
}

#btn-download {
  float: right;
  margin: 10px 0 0 0;
  padding: 14px;
}

#btn-download img {
  width: 24px;
  height: 24px;
}

h1 {
  font-size: 1.8em;
  color: #fff;
  margin: 0 60px 0 0;
  padding: 0.8em;
  text-align: center;
  font-weight: normal;
}

strong {
  font-weight: bold;
}

video {
  position: absolute;
  visibility: hidden;
  width: 100%;
  height: 100%;
}

canvas {
  position: absolute;
}

#canvas-save {
  visibility: hidden;
}

#image-save {
  display: none;
  position: absolute;
  z-index: 10;
}

.modal {
  display: none;
  position: absolute;
  width: 90%;
  height: 85%;
  height: -webkit-calc(100% - 90px);
  height: calc(100% - 90px);
  top: 72px;
  left: 5%;
  padding: 15px;
  box-sizing: border-box;
  background: #7f4fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow-y: auto;
}

#modal-emoji img {
  padding: 8px 0 8px 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.display-mode-standalone {
  display: none;
}

@media (display-mode: standalone), (display-mode: fullscreen) {
  .display-mode-browser {
    display: block;
  }
  .display-mode-browser {
    display: none;
  }
}
