html {
  height: 100%;
}

body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 85%;
  margin: 0;
  padding: 0;
  background-color: #ccc;
  height: 100%;
  overflow: hidden;
}

header {
  background: #e88b11;
  background-image: linear-gradient(#e79d3d, #d57e0d);
}

#colour {
  float: left;
  border: 0;
  padding: 0;
  margin: 24px 0 0 14px;
}

#download {
  float: right;
  margin: 10px 0 0 0;
  padding: 14px;
  background: none;
  border: 0;
  cursor: pointer;
}

#download img {
  width: 24px;
  height: 24px;
}

h1 {
  font-size: 1.8em;
  color: #fff;
  margin: 0;
  padding: 0.8em;
  text-align: center;
  font-weight: normal;
}

strong {
  font-weight: bold;
}

video {
  position: absolute;
  visibility: hidden;
}

canvas {
  position: absolute;
}

#canvas-save {
  visibility: hidden;
}