html {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
  background-color: #ccc;
  color: #fff;
  height: 100%;
  overflow: hidden;
  text-align: center;
}

header {
  background: #987fff;
  height: 72px;
  color: #fff;
}

header label,
header button {
  font-size: 0.9em;
}

header button img {
  display: block;
}

header button {
  color: #fff;
}

header .left,
header .right {
  flex: 1;
}

header .left {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

header .right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

header a {
  color: #fff;
  text-decoration: none;
}

header h2 {
  margin: 0;
  color: #fff;
  font-size: 1.3em;
  text-align: center;
}

h1 {
  display: inline-block;
  font-size: 3em;
  color: #fff;
  margin: 0 0 0.25em 0;
  text-align: left;
  font-weight: normal;
  padding-left: 1.3em;
  background: url(../images/snapwat-icon-white.svg) left 0.25em no-repeat;
  background-size: 1em 1em;
}

h2 {
  font-size: 1.4em;
  margin: 0.5em 0;
}

.toolbar {
  display: none;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}

#toolbar-home {
  display: flex;
}

.page {
  display: none;
  z-index: 1;
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  height: -webkit-calc(100% - 72px);
  height: -moz-calc(100% - 72px);
  height: -o-calc(100% - 72px);
  height: -ms-calc(100% - 72px);
  height: calc(100% - 72px);
  top: 72px;
  left: 0;
  overflow: hidden;
  background: #987fff;
}

header button {
  border: 0;
  background: none;
  cursor: pointer;
}

header input,
header button {
  outline: none;
  line-height: 1em;
}

#input-colour-container.selected,
header button.selected {
  border: 2px dashed #10f9e6;
}

#input-colour-container {
  border: 2px solid transparent;
  padding: 8px 8px 4px 8px;
  margin-left: 15px;
}

#input-colour {
  display: none;
  width: 32px;
  cursor: pointer;
}

#input-colour-substitute {
  background: #000;
  border: 1px solid #ccc;
  width: 35px;
  height: 25px;
}

#input-colour-container label {
  margin-top: 1px;
}

header button {
  padding: 8px 8px 4px 8px;
  border: 2px solid transparent;
}

header .left button {
  margin-left: 20px;
}

header .right button {
  margin-right: 10px;
}

header button img {
  width: 38px;
  height: 28px;
  margin: 0 auto 5px auto;
}

.page a,
.page a:hover {
  color: #fff;
}

.page button {
  cursor: pointer;
  border-radius: 5px;
  border: 0;
  background: #fff;
  color: #333;
  padding: 10px;
}

strong {
  font-weight: bold;
}

video {
  position: absolute;
  visibility: hidden;
  width: 100%;
  height: 100%;
}

#canvas-camera,
#camera-draw {
  position: absolute;
  left: 0;
}

#canvas-camera {
  z-index: -1;
}

#canvas-draw {
  z-index: 1;
}

#image-save {
  display: none;
  position: absolute;
}

.modal {
  display: none;
  z-index: 10;
  position: absolute;
  width: 95%;
  height: 85%;
  height: -webkit-calc(100% - 90px);
  height: -moz-calc(100% - 90px);
  height: -o-calc(100% - 90px);
  height: -ms-calc(100% - 90px);
  height: calc(100% - 90px);
  top: 72px;
  left: 2.5%;
  padding: 15px;
  box-sizing: border-box;
  background: #7f4fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow-y: auto;
}

#modal-emoji img {
  padding: 8px 0 8px 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

#page-home {
  display: block;
}

#page-home,
#page-about {
  height: 100%;
  top: 0;
  padding: 4%;
  overflow-y: auto;
}

#page-share {
  padding: 15px;
  overflow-y: auto;
}

#share-text {
  display: block;
  box-sizing: border-box;
  width: 90%;
  border: 0;
  font-size: 1.3em;
  padding: 10px;
  margin: 0 auto;
  border-radius: 5px;
}

#share-preview {
  display: block;
  max-width: 70%;
  margin: 10px auto;
}

#share-submit {
  display: block;
  width: 90%;
  margin: 10px auto;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  padding: 5px;
  font-size: 1.3em;
  text-align: center;
  border-radius: 5px;
}

.prompt {
  z-index: 11;
  display: none;
  position: absolute;
  box-sizing: border-box;
  bottom: 25px;
  left: 5%;
  width: 90%;
  background: #7f4fff;
  border-radius: 8px;
  padding: 5px 8px;
  font-size: 1.1em;
  transition: opacity 2s ease-in-out;
}

.prompt p {
  margin: 0;
  text-align: center;
}

.fade-out {
  opacity: 0;
}

#select-photo {
  margin-top: 2em;
}

#input-photo {
  width: 1px;
  height: 1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#input-photo + label {
  font-size: 1.3em;
  background: #fff;
  color: #333;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  padding: 10px;
}

#input-photo:focus + label {
  outline: 1px dotted #333;
  outline: -webkit-focus-ring-color auto 5px;
}

#start-camera {
  display: none;
  margin-top: 1.5em;
}

#start-camera p {
  margin-top: 0.4em;
}

#btn-start-camera {
  font-size: 1.3em;
}

.display-mode-standalone {
  display: none;
}

.footer {
  margin-top: 2.5em;
  font-size: 0.8em;
}

@media (display-mode: standalone), (display-mode: fullscreen) {
  .display-mode-browser {
    display: block;
  }
  .display-mode-browser {
    display: none;
  }
}
